.container {
    text-align: center;
}

#queue-number, #channel-number {
    font-size: 50px; /* ปรับขนาดตัวเลขได้ตามต้องการ */
    color: blue;
}

#current-queue, #current-channel {
    margin: 10px;
}

.footer {
    font-size: 12px;
    color: gray;
    margin-top: 20px;
}
